@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

:root {
  --fuente-Montserrat: 'Montserrat', sans-serif;
  --fuente-Lato: 'Lato', sans-serif;
  --color-azul: #024670;
  --color-rojo: #E51A2F;
  --color-gris: #444444; }

.container {
  width: 90%;
  max-width: 1460px;
  margin: 0 auto; }

body {
  background-color: #024670; }

main {
  background-color: #fff;
  border-radius: 0px 0px 40px 40px;
  margin-top: 122px;
  margin-bottom: 633px; }

ul li {
  list-style: none; }
  ul li a {
    text-decoration: none; }

a {
  text-decoration: none; }

.ht-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  z-index: 10;
  top: -65px;
  left: -65px;
  z-index: 50; }
  .ht-cursor .ht-cursor-text {
    transform: scale(0);
    transition: 0.3s linear; }
    .ht-cursor .ht-cursor-text img {
      animation: 6s rotate linear infinite; }

.ht-cursor.mostrar .ht-cursor-text {
  transform: scale(1); }

.buttonEnlace {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .buttonEnlace a {
    display: flex;
    align-items: center;
    font-family: var(--fuente-Montserrat);
    font-weight: 800;
    font-size: 20px;
    color: var(--color-rojo); }
    .buttonEnlace a img {
      margin-right: 20px; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  header .submenu {
    position: absolute;
    padding-top: 183px;
    padding-bottom: 50px;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: var(--color-azul);
    border-radius: 0 0 30px 30px;
    transform: translateY(-100%);
    transition: 0.3s linear; }
    header .submenu .container {
      display: flex;
      padding: 0 90px; }
      header .submenu .container .part1 {
        width: 58%;
        padding-top: 45px; }
        header .submenu .container .part1 ul {
          columns: 2;
          -webkit-columns: 2; }
          header .submenu .container .part1 ul li {
            padding: 5px 8px;
            width: fit-content;
            border-radius: 5px;
            margin: 5px 0; }
            header .submenu .container .part1 ul li a {
              color: #fff;
              font-family: var(--fuente-Montserrat);
              font-weight: 600;
              font-size: 20px; }
          header .submenu .container .part1 ul li.select {
            background-color: var(--color-rojo); }
            header .submenu .container .part1 ul li.select a {
              font-weight: 800; }
          header .submenu .container .part1 ul li:hover {
            background-color: var(--color-rojo); }
            header .submenu .container .part1 ul li:hover a {
              font-weight: 800; }
        header .submenu .container .part1 .buttonEnlace {
          justify-content: flex-start; }
          header .submenu .container .part1 .buttonEnlace a {
            color: #fff; }
      header .submenu .container .part2 {
        width: 42%;
        display: flex;
        justify-content: flex-end; }
        header .submenu .container .part2 .img {
          position: relative;
          display: flex; }
        header .submenu .container .part2 .filtro {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
          z-index: 1;
          border-radius: 10px; }
        header .submenu .container .part2 .fondo {
          filter: drop-shadow(8px 8px 19px rgba(0, 0, 0, 0.25));
          border-radius: 10px; }
        header .submenu .container .part2 .producto {
          position: absolute;
          bottom: 0;
          right: 20px;
          width: 146px;
          z-index: 2; }
        header .submenu .container .part2 .info {
          position: absolute;
          left: 35px;
          bottom: 35px;
          z-index: 2; }
          header .submenu .container .part2 .info img {
            width: 48px;
            margin-right: 15px; }
          header .submenu .container .part2 .info a {
            font-family: var(--fuente-Montserrat);
            font-weight: 800;
            font-size: 20px;
            color: #fff;
            display: flex;
            align-items: center; }

header.open .submenu {
  transform: translateY(0%); }

nav {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.44);
  border-radius: 0 0 15px 15px;
  padding: 15px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  z-index: 5; }
  nav .part1 ul,
  nav .part2 ul {
    display: flex;
    grid-gap: 40px;
    align-items: center; }
    nav .part1 ul li a,
    nav .part2 ul li a {
      color: var(--color-azul);
      font-family: var(--fuente-Montserrat);
      font-size: 20px;
      font-weight: 600; }
    nav .part1 ul li.select,
    nav .part2 ul li.select {
      position: relative; }
      nav .part1 ul li.select a,
      nav .part2 ul li.select a {
        color: var(--color-rojo); }
      nav .part1 ul li.select::before,
      nav .part2 ul li.select::before {
        content: '';
        position: absolute;
        top: -50px;
        width: 100%;
        height: 6px;
        background-color: var(--color-rojo);
        border-radius: 5px; }
    nav .part1 ul li.contacto a,
    nav .part2 ul li.contacto a {
      padding: 18px 11px;
      background-color: var(--color-rojo);
      color: #fff;
      border-radius: 10px;
      width: 186px;
      height: 63px;
      display: block;
      overflow: hidden;
      white-space: nowrap; }
      nav .part1 ul li.contacto a span,
      nav .part2 ul li.contacto a span {
        margin: 0 3px; }

section.sliderHome {
  height: calc(100vh - 122px);
  height: 847px;
  padding-bottom: 50px; }
  section.sliderHome .container {
    display: flex;
    height: 100%; }
    section.sliderHome .container .part1 {
      width: 37.5%;
      padding-top: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 100px; }
      section.sliderHome .container .part1 h2 {
        font-family: var(--fuente-Montserrat);
        font-weight: 500;
        font-size: 70px;
        color: var(--color-rojo);
        max-width: 430px; }
      section.sliderHome .container .part1 .info h1 {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 55px;
        color: var(--color-azul); }
      section.sliderHome .container .part1 .info p {
        font-family: var(--fuente-Lato);
        font-weight: 400;
        font-size: 20px;
        color: var(--color-gris);
        margin-bottom: 50px; }
      section.sliderHome .container .part1 .info a {
        width: 83%;
        max-width: 100%;
        background-color: var(--color-rojo);
        color: #fff;
        font-family: var(--fuente-Montserrat);
        font-weight: 600;
        font-size: 20px;
        display: block;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px 15px;
        white-space: nowrap;
        height: 65px; }
        section.sliderHome .container .part1 .info a span {
          margin: 0 3px; }
    section.sliderHome .container .part2 {
      width: 62.5%;
      display: flex; }
      section.sliderHome .container .part2 .swiperHome {
        width: calc(100% - 75px);
        border-radius: 0px 0px 20px 20px; }
        section.sliderHome .container .part2 .swiperHome .info {
          display: none; }
      section.sliderHome .container .part2 .textoVertical {
        width: 75px;
        position: relative;
        overflow: hidden; }
        section.sliderHome .container .part2 .textoVertical .marquee-with-optionsSider {
          position: absolute;
          left: 59px;
          top: 0;
          transform: rotate(90deg);
          transform-origin: top left; }
          section.sliderHome .container .part2 .textoVertical .marquee-with-optionsSider span {
            font-family: var(--fuente-Montserrat);
            font-weight: 800;
            font-size: 35px;
            color: var(--color-rojo); }
      section.sliderHome .container .part2 .swiper-horizontal > .swiper-pagination-bullets, section.sliderHome .container .part2 .swiper-pagination-bullets.swiper-pagination-horizontal, section.sliderHome .container .part2 .swiper-pagination-custom, section.sliderHome .container .part2 .swiper-pagination-fraction {
        bottom: 40px;
        left: initial;
        right: 75px;
        width: auto; }
        section.sliderHome .container .part2 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, section.sliderHome .container .part2 .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet, section.sliderHome .container .part2 .swiper-pagination-custom .swiper-pagination-bullet, section.sliderHome .container .part2 .swiper-pagination-fraction .swiper-pagination-bullet {
          width: 21px;
          height: 21px;
          border: 2px solid #fff;
          opacity: 1;
          background: transparent; }
        section.sliderHome .container .part2 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active, section.sliderHome .container .part2 .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active, section.sliderHome .container .part2 .swiper-pagination-custom .swiper-pagination-bullet-active, section.sliderHome .container .part2 .swiper-pagination-fraction .swiper-pagination-bullet-active {
          background: #fff; }

section.productosHome {
  padding: 50px 0;
  padding-bottom: 100px; }
  section.productosHome .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  section.productosHome h3 {
    font-family: var(--fuente-Montserrat);
    font-weight: 800;
    font-size: 25px;
    color: var(--color-rojo);
    text-align: center; }
  section.productosHome h2 {
    margin-top: 10px;
    font-family: var(--fuente-Montserrat);
    font-weight: 800;
    font-size: 35px;
    color: var(--color-azul);
    max-width: 722px;
    text-align: center; }
  section.productosHome .container2 {
    width: 94.5%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative; }
  section.productosHome .swiperCategoriasHome {
    margin-top: 50px;
    position: initial; }
    section.productosHome .swiperCategoriasHome .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid var(--color-azul);
      height: 510px;
      padding: 40px 0;
      justify-content: flex-end;
      position: relative; }
      section.productosHome .swiperCategoriasHome .swiper-slide a {
        display: flex;
        flex-direction: column;
        align-items: center; }
      section.productosHome .swiperCategoriasHome .swiper-slide .filtro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent; }
      section.productosHome .swiperCategoriasHome .swiper-slide img {
        width: auto; }
      section.productosHome .swiperCategoriasHome .swiper-slide p {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 25px;
        color: var(--color-rojo); }
      section.productosHome .swiperCategoriasHome .swiper-slide h4 {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 25px;
        color: var(--color-azul); }
      section.productosHome .swiperCategoriasHome .swiper-slide:hover .filtro {
        background-color: rgba(2, 70, 112, 0.23); }
    section.productosHome .swiperCategoriasHome .swiper-button-prev:after, section.productosHome .swiperCategoriasHome .swiper-rtl .swiper-button-next:after {
      content: '';
      background-image: url(../img/flecha-prev.svg);
      width: 39px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 100%; }
    section.productosHome .swiperCategoriasHome .swiper-button-next:after {
      content: '';
      background-image: url(../img/flecha-next.svg);
      width: 39px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: 100%; }
    section.productosHome .swiperCategoriasHome .swiper-button-prev, section.productosHome .swiperCategoriasHome .swiper-rtl .swiper-button-next {
      left: -14px;
      right: auto; }
    section.productosHome .swiperCategoriasHome .swiper-button-next, section.productosHome .swiperCategoriasHome .swiper-rtl .swiper-button-prev {
      right: -12px;
      left: auto; }
  section.productosHome .swiperCategoriasHome.page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 9px;
    row-gap: 9px; }

section.productosHome.page {
  padding-top: 100px; }

section.bannerAzul {
  background-color: var(--color-azul);
  padding: 100px 0; }
  section.bannerAzul h2 {
    font-family: var(--fuente-Montserrat);
    font-weight: 600;
    font-size: 45px;
    color: #fff;
    text-align: center; }
    section.bannerAzul h2 b {
      font-weight: 800; }
  section.bannerAzul a {
    color: #fff; }

section.woki {
  padding: 190px 0;
  overflow: hidden; }
  section.woki .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    section.woki .container .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      max-width: 624px;
      position: relative; }
    section.woki .container img {
      margin-bottom: 15px; }
    section.woki .container p {
      font-family: var(--fuente-Lato);
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      max-width: 624px; }
      section.woki .container p b {
        font-weight: 800; }
    section.woki .container a img {
      margin-bottom: 0; }
    section.woki .container img.imgFloat {
      position: absolute; }
    section.woki .container img.if1 {
      top: -232px;
      left: -300px; }
    section.woki .container img.if2 {
      right: -222px;
      top: -147px; }
    section.woki .container img.if3 {
      left: -263px;
      bottom: -269px; }
    section.woki .container img.if4 {
      bottom: -301px;
      right: -268px; }

section.bannerSomos {
  padding-bottom: 100px;
  background-color: var(--color-azul); }
  section.bannerSomos h2 {
    font-family: var(--fuente-Montserrat);
    font-weight: 800;
    font-size: 35px;
    color: #fff;
    background-color: var(--color-rojo);
    width: fit-content;
    padding: 50px 0;
    padding-right: 30px;
    position: relative; }
    section.bannerSomos h2::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      height: 0;
      width: 0;
      border-style: solid;
      border-width: 143px 120px 0 0;
      border-color: #E51A2F transparent transparent transparent; }
    section.bannerSomos h2::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-rojo);
      height: 100%;
      width: 224px;
      transform: translateX(-100%); }
  section.bannerSomos .gridSomos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 110px;
    row-gap: 90px;
    color: #fff; }
    section.bannerSomos .gridSomos h3 {
      font-family: var(--fuente-Montserrat);
      font-weight: 800;
      font-size: 25px; }
    section.bannerSomos .gridSomos p {
      font-family: var(--fuente-Lato);
      font-weight: 400;
      font-size: 20px; }

section.clientes {
  padding: 100px 0;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative; }
  section.clientes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 500px;
    background-color: #fff; }
  section.clientes .container {
    display: flex;
    grid-gap: 100px; }
  section.clientes .part1 {
    width: 40%; }
    section.clientes .part1 img {
      border-radius: 30px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      width: 100%;
      position: relative;
      z-index: 1; }
  section.clientes .part2 {
    width: 60%; }
    section.clientes .part2 span {
      font-family: var(--fuente-Montserrat);
      font-weight: 800;
      font-size: 25px;
      color: var(--color-rojo); }
    section.clientes .part2 h2 {
      font-family: var(--fuente-Montserrat);
      font-weight: 800;
      font-size: 35px;
      color: var(--color-azul); }
    section.clientes .part2 .buttonEnlace {
      justify-content: flex-start; }
  section.clientes .marquee-with-options2 {
    position: absolute;
    bottom: 110px; }
    section.clientes .marquee-with-options2 .js-marquee {
      display: flex;
      align-items: center; }
    section.clientes .marquee-with-options2 span {
      margin: 0 40px; }

section.organizacion {
  padding: 50px 0;
  overflow: hidden; }
  section.organizacion .container {
    display: flex; }
    section.organizacion .container .part1 {
      width: 50%;
      color: #fff;
      padding: 85px 0;
      padding-right: 125px;
      position: relative;
      height: fit-content;
      margin-top: 50px;
      z-index: 1; }
      section.organizacion .container .part1 h2 {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 35px; }
      section.organizacion .container .part1 p {
        margin-top: 15px;
        font-family: var(--fuente-Lato);
        font-weight: 400;
        font-size: 20px; }
        section.organizacion .container .part1 p b {
          font-weight: 800; }
      section.organizacion .container .part1::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 200%;
        height: 100%;
        background-color: var(--color-azul);
        transform: translateX(-46%);
        z-index: -2; }
    section.organizacion .container .part2 {
      width: 50%;
      position: relative;
      z-index: 1; }
      section.organizacion .container .part2 img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px; }
      section.organizacion .container .part2::after {
        content: '';
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 100%;
        height: 200px;
        background-color: var(--color-rojo);
        z-index: -2; }

section.blogHome {
  padding: 50px 0; }
  section.blogHome .container {
    display: flex;
    justify-content: space-between; }
    section.blogHome .container .title {
      max-width: 722px; }
      section.blogHome .container .title span {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 25px;
        color: var(--color-rojo); }
      section.blogHome .container .title h2 {
        color: var(--color-azul);
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 35px; }
    section.blogHome .container .flechas {
      position: relative; }
      section.blogHome .container .flechas .swiper-button-next {
        right: 0;
        left: initial;
        width: 25px; }
      section.blogHome .container .flechas .swiper-button-prev {
        right: 50px;
        left: initial;
        width: 25px; }
      section.blogHome .container .flechas .swiper-button-next:after {
        content: '';
        background-image: url(../img/flecha-next.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 25px; }
      section.blogHome .container .flechas .swiper-button-prev:after {
        content: '';
        background-image: url(../img/flecha-prev.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 25px; }
  section.blogHome .swiperBlogHome {
    margin-top: 50px; }
    section.blogHome .swiperBlogHome .item {
      position: relative; }
      section.blogHome .swiperBlogHome .item .filtro {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1; }
      section.blogHome .swiperBlogHome .item img.fondo {
        width: 100%;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
      section.blogHome .swiperBlogHome .item .info {
        padding: 50px 30px;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        z-index: 2; }
        section.blogHome .swiperBlogHome .item .info img {
          width: 50px; }
        section.blogHome .swiperBlogHome .item .info span {
          font-family: var(--fuente-Lato);
          font-weight: 400;
          font-size: 20px; }
        section.blogHome .swiperBlogHome .item .info h3 {
          font-family: var(--fuente-Montserrat);
          font-weight: 800;
          font-size: 25px;
          margin: 15px 0; }
    section.blogHome .swiperBlogHome .swiper-wrapper .item:first-child {
      margin-left: 220px; }
  section.blogHome .buttonEnlace {
    margin-top: 100px; }

footer {
  background-color: var(--color-azul);
  color: #fff;
  overflow: hidden;
  font-family: var(--fuente-Montserrat);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%; }
  footer a {
    color: #fff; }
  footer .part1 {
    padding: 130px 0;
    height: 66px; }
    footer .part1 span {
      font-weight: 500;
      font-size: 50px; }
  footer .part2 {
    overflow: hidden;
    display: flex;
    height: 50px; }
    footer .part2 .part2-1,
    footer .part2 .part2-2 {
      overflow: hidden;
      width: 50%;
      position: relative; }
    footer .part2 .part2-1 img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%); }
    footer .part2 .part2-2 img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%); }
  footer .part3 {
    margin-top: 100px; }
    footer .part3 .container {
      display: flex;
      justify-content: space-between; }
      footer .part3 .container .part3-1 {
        font-family: var(--fuente-Montserrat);
        font-weight: 800; }
        footer .part3 .container .part3-1 .wtp {
          display: flex;
          align-items: center;
          margin-bottom: 30px; }
          footer .part3 .container .part3-1 .wtp img {
            margin-right: 8px; }
          footer .part3 .container .part3-1 .wtp span {
            font-size: 25px; }
          footer .part3 .container .part3-1 .wtp p {
            font-size: 35px; }
        footer .part3 .container .part3-1 .redes {
          display: flex;
          align-items: center; }
          footer .part3 .container .part3-1 .redes span {
            font-size: 20px;
            margin-right: 15px; }
          footer .part3 .container .part3-1 .redes .icons {
            display: flex;
            grid-gap: 20px; }
      footer .part3 .container li {
        margin: 2px 0; }
        footer .part3 .container li a {
          font-weight: 700; }
      footer .part3 .container .part3-4 span:first-child {
        margin-top: 0; }
      footer .part3 .container .part3-4 span {
        font-weight: 800;
        margin-top: 20px;
        display: block; }
      footer .part3 .container .part3-4 li {
        font-weight: 600; }
  footer .pie {
    margin-top: 30px;
    margin-bottom: 10px; }
    footer .pie .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .pie .container p {
        font-size: 16px; }
      footer .pie .container .corazon {
        height: 16px;
        margin-right: 5px; }

section.categoriaProducto {
  padding: 100px 0;
  padding-bottom: 50px; }
  section.categoriaProducto .container {
    display: flex;
    align-items: center; }
    section.categoriaProducto .container .part1 {
      width: 50%;
      padding-right: 20px; }
      section.categoriaProducto .container .part1 .content {
        padding: 50px;
        font-family: var(--fuente-Montserrat);
        color: var(--color-azul);
        font-weight: 800;
        border: 2px solid var(--color-azul);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
        border-radius: 10px; }
        section.categoriaProducto .container .part1 .content a {
          font-size: 20px;
          color: var(--color-rojo);
          display: flex;
          align-items: center; }
          section.categoriaProducto .container .part1 .content a img {
            margin-right: 10px; }
        section.categoriaProducto .container .part1 .content a:last-child {
          text-decoration: underline; }
        section.categoriaProducto .container .part1 .content span {
          font-size: 35px; }
        section.categoriaProducto .container .part1 .content h1 {
          font-size: 45px;
          font-weight: 800; }
        section.categoriaProducto .container .part1 .content .tipos, section.categoriaProducto .container .part1 .content .marcas {
          margin-top: 20px; }
          section.categoriaProducto .container .part1 .content .tipos span, section.categoriaProducto .container .part1 .content .marcas span {
            font-size: 20px; }
          section.categoriaProducto .container .part1 .content .tipos img, section.categoriaProducto .container .part1 .content .marcas img {
            max-height: 80px; }
          section.categoriaProducto .container .part1 .content .tipos .logos, section.categoriaProducto .container .part1 .content .marcas .logos {
            display: flex;
            grid-gap: 40px;
            flex-wrap: wrap;
            margin-top: 20px; }
        section.categoriaProducto .container .part1 .content .marcas {
          margin-bottom: 25px; }
        section.categoriaProducto .container .part1 .content ul {
          margin-top: 10px; }
          section.categoriaProducto .container .part1 .content ul li {
            font-size: 20px;
            color: #000;
            font-weight: 400;
            margin: 10px 0; }
        section.categoriaProducto .container .part1 .content .title {
          margin-top: 50px; }
          section.categoriaProducto .container .part1 .content .title h1 {
            margin-top: 15px; }
    section.categoriaProducto .container .part2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      position: relative; }
      section.categoriaProducto .container .part2 img.fondo {
        position: absolute;
        animation: rotate 15s linear infinite; }
      section.categoriaProducto .container .part2 img.producto {
        z-index: 1; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

section.presentaciones {
  padding: 50px 0;
  padding-bottom: 100px;
  overflow: hidden; }
  section.presentaciones h2 {
    font-family: var(--fuente-Montserrat);
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    max-width: 539px;
    margin: 0 auto;
    color: #024670; }
  section.presentaciones .gridProductos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    padding: 20px 0; }
    section.presentaciones .gridProductos::before, section.presentaciones .gridProductos::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 1px;
      background-color: var(--color-azul); }
    section.presentaciones .gridProductos::after {
      top: initial;
      bottom: 0; }
    section.presentaciones .gridProductos div {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.presentaciones .gridProductos div h3 {
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 25px;
        color: var(--color-azul); }
  section.presentaciones .listaProductos .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    position: relative; }
    section.presentaciones .listaProductos .item::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 1px;
      background-color: var(--color-azul); }
    section.presentaciones .listaProductos .item div {
      display: flex;
      flex-direction: column;
      width: 147px;
      align-items: center; }
      section.presentaciones .listaProductos .item div a {
        color: var(--color-rojo);
        font-family: var(--fuente-Montserrat);
        font-size: 20px;
        font-weight: 800;
        margin-top: 5px;
        text-decoration: underline; }
      section.presentaciones .listaProductos .item div span {
        font-family: var(--fuente-Lato);
        font-weight: 400;
        font-size: 20px;
        color: #000; }

section.siguienteProducto {
  padding: 100px 0; }
  section.siguienteProducto .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.siguienteProducto .container .part1 {
      font-family: var(--fuente-Montserrat);
      max-width: 270px; }
      section.siguienteProducto .container .part1 span {
        font-weight: 800;
        font-size: 25px;
        color: var(--color-rojo); }
      section.siguienteProducto .container .part1 h2 {
        font-weight: 800;
        font-size: 35px;
        color: var(--color-azul); }
    section.siguienteProducto .container .part3 a {
      display: flex;
      align-items: center;
      font-family: var(--fuente-Montserrat);
      font-weight: 800;
      font-size: 20px;
      color: var(--color-rojo); }
      section.siguienteProducto .container .part3 a img {
        margin-right: 30px; }
