@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box; 
}

:root {
    --fuente-Montserrat: 'Montserrat', sans-serif;
    --fuente-Lato: 'Lato', sans-serif;
    --color-azul: #024670;
    --color-rojo: #E51A2F; 
    --color-gris: #444444; 
}

.container{
    width: 90%;
    max-width: 1460px;
    margin: 0 auto;
}
ul{
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
a{
    text-decoration: none;
}

.ht-cursor{
    position: fixed;
    pointer-events: none;
    z-index: 999;
    z-index: 10;
    top: -65px;
    left: -65px;
    z-index: 50;
    .ht-cursor-text{
        transform: scale(0);
        transition: 0.3s linear;
        img{
            animation: 6s rotate linear infinite;
        }
    }
}

.ht-cursor.mostrar{
  .ht-cursor-text{
    transform: scale(1);
  }
}

.buttonEnlace{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    a{
        display: flex;
        align-items: center;
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 20px;
        color: var(--color-rojo);
        img{
            margin-right: 20px;
        }
    }
}


@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

nav{
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.44);
    border-radius: 0 0 15px 15px;
    padding: 15px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .part1,
    .part2{
        ul{
            display: flex;
            grid-gap: 40px;
            align-items: center;
            li{
                a{
                    color: var(--color-azul);
                    font-family: var(--fuente-Montserrat);
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            li.select{
                position: relative;
                a{
                    color: var(--color-rojo);
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: -50px;
                    width: 100%;
                    height: 6px;
                    background-color: var(--color-rojo);
                    border-radius: 5px;
                }
            }
            li.contacto{
                a{
                    padding: 18px 11px;
                    background-color: var(--color-rojo);           
                    color: #fff;         
                    border-radius: 10px;
                    width: 186px;
                    height: 63px;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    span{
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}

section.sliderHome{
    height: calc(100vh - 122px);
    height: 847px;
    padding-bottom: 50px;
    .container{
        display: flex;
        height: 100%;
        .part1{
            width: 37.5%;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 100px;
            h2{
                font-family: var(--fuente-Montserrat);
                font-weight: 500;
                font-size: 70px;
                color: var(--color-rojo);
                max-width: 430px;
            }
            .info{
                h1{
                    font-family: var(--fuente-Montserrat);
                    font-weight: 800;
                    font-size: 55px;
                    color: var(--color-azul);
                }
                p{
                    font-family: var(--fuente-Lato);
                    font-weight: 400;
                    font-size: 20px;
                    color: var(--color-gris);
                    margin-bottom: 50px;
                }
                a{
                    width: 83%;
                    max-width: 100%;
                    background-color: var(--color-rojo);
                    color: #fff;
                    font-family: var(--fuente-Montserrat);
                    font-weight: 600;
                    font-size: 20px;
                    display: block;
                    border-radius: 10px;
                    overflow: hidden;
                    padding: 20px 15px;
                    white-space: nowrap;
                    height: 65px;
                    span{
                        margin: 0 3px;
                    }
                }
            }
        }
        .part2{
            width: 62.5%;
            display: flex;
            .swiperHome{
                width: calc(100% - 75px);
                border-radius: 0px 0px 20px 20px;
                .info{
                    display: none;
                }
            }
            .textoVertical{
                width: 75px;
                position: relative;
                overflow: hidden;
                .marquee-with-optionsSider{
                    position: absolute;
                    left: 59px;
                    top: 0;
                    transform: rotate(90deg);
                    transform-origin: top left;
                    span{
                        font-family: var(--fuente-Montserrat);
                        font-weight: 800;
                        font-size: 35px;
                        color: var(--color-rojo);
                    }
                }
            }
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
                bottom: 40px;
                left: initial;
                right: 75px;
                width: auto;
                .swiper-pagination-bullet{
                    width: 21px;
                    height: 21px;
                    border: 2px solid #fff;
                    opacity: 1;
                    background: transparent;
                }
                .swiper-pagination-bullet-active{
                    background: #fff;                    
                }                
            }
        }
    }
}

section.productosHome{
    padding: 50px 0;
    padding-bottom: 100px;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h3{
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 25px;
        color: var(--color-rojo);   
        text-align: center;
    }
    h2{
        margin-top: 10px;
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 35px;
        color: var(--color-azul);
        max-width: 722px;
        text-align: center;
    }
    .container2{
        width: 94.5%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }
    .swiperCategoriasHome{
        margin-top: 50px;
        position: initial;
        .swiper-slide{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid var(--color-azul);
            height: 510px;
            //padding-bottom: 40px;
            padding: 40px 0;
            justify-content: flex-end;
            position: relative;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .filtro{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
            }
            img{
                width: auto;
            }
            p{
                font-family: var(--fuente-Montserrat);
                font-weight: 800;
                font-size: 25px;
                color: var(--color-rojo);
            }
            h4{
                font-family: var(--fuente-Montserrat);
                font-weight: 800;
                font-size: 25px;
                color: var(--color-azul);
            }
            &:hover{
                .filtro{
                    background-color: rgba(2, 70, 112, 0.23);
                }
            }
        }
        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            content: '';
            background-image: url(../img/flecha-prev.svg);
            width: 39px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .swiper-button-next:after {
            content: '';
            background-image: url(../img/flecha-next.svg);
            width: 39px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: -14px;
            right: auto;
        }
        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            right: -12px;
            left: auto;
        }
    }
    
}

section.bannerAzul{
    background-color: var(--color-azul);
    padding: 100px 0;
    h2{
        font-family: var(--fuente-Montserrat);
        font-weight: 600;
        font-size: 45px;
        color: #fff;
        text-align: center;
        b{
            font-weight: 800;
        }
    }
    a{
        color: #fff;
    }
}

section.woki{
    padding: 190px 0;
    overflow: hidden;
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            max-width: 624px;
            position: relative;
        }
        img{
            margin-bottom: 15px;
        }
        p{
            font-family: var(--fuente-Lato);
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            max-width: 624px;
            b{
                font-weight: 800;
            }
        }
        a{
            img{
                margin-bottom: 0;
            }
        }
        img.imgFloat{
            position: absolute;
        }
        img.if1{
            top: -232px;
            left: -300px;
        }
        img.if2{
            right: -222px;
            top: -147px;
        }
        img.if3{
            left: -263px;
            bottom: -269px;
        }
        img.if4{
            bottom: -301px;
            right: -268px;
        }
    }
}

section.bannerSomos{
    padding-bottom: 100px;
    background-color: var(--color-azul);
    h2{
        font-family: var(--fuente-Montserrat);
        font-weight: 800;
        font-size: 35px;
        color: #fff;
        background-color: var(--color-rojo);
        width: fit-content;
        padding: 50px 0;
        padding-right: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(100%);
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 143px 120px 0 0;
            border-color: #E51A2F transparent transparent transparent;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-rojo);
            height: 100%;
            width: 224px;
            transform: translateX(-100%);
        }
    }
    .gridSomos{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 110px;
        row-gap: 90px;
        color: #fff;
        h3{
            font-family: var(--fuente-Montserrat);
            font-weight: 800;
            font-size: 25px;
        }
        p{
            font-family: var(--fuente-Lato);
            font-weight: 400;
            font-size: 20px;
        }
    }
}


section.clientes{
    padding: 100px 0;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 500px;
        background-color: #fff;
    }
    .container{
        display: flex;
        grid-gap: 100px;
    }
    .part1{
        width: 40%;
        img{
            border-radius: 30px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            width: 100%;
            position: relative;
            z-index: 5;
        }
    }
    .part2{
        width: 60%;
        span{
            font-family: var(--fuente-Montserrat);
            font-weight: 800;
            font-size: 25px;
            color: var(--color-rojo);
        }
        h2{
            font-family: var(--fuente-Montserrat);
            font-weight: 800;
            font-size: 35px;
            color: var(--color-azul);
        }
        .buttonEnlace{
            justify-content: flex-start;
        }
    }
    
    .marquee-with-options2{
        position: absolute;
        bottom: 110px;
        .js-marquee{
            display: flex;
            align-items: center;
        }
        span{
            margin: 0 40px;
        }
    }
}


section.organizacion{
    padding: 50px 0;
    overflow: hidden;
    .container{
        display: flex;
        //align-items: center;
        //grid-gap: 100px;
        .part1{
            width: 50%;
            color: #fff;
            padding: 85px 0;
            position: relative;
            //transform: translateY(-60px);
            padding-right: 125px;
            position: relative;
            height: fit-content;
            margin-top: 50px;
            //background-color: var(--color-azul);
            h2{
                font-family: var(--fuente-Montserrat);
                font-weight: 800;
                font-size: 35px;
            }
            p{
                margin-top: 15px;
                font-family: var(--fuente-Lato);
                font-weight: 400;
                font-size: 20px;
                b{
                    font-weight: 800;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 200%;
                height: 100%;
                background-color: var(--color-azul);
                transform: translateX(-46%);
                z-index: -2;
            }
        }
        .part2{
            width: 50%;
            position: relative;
            img{
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 10px;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 50px;
                left: 50%;
                width: 100%;
                height: 200px;
                background-color: var(--color-rojo);
                z-index: -2;
            }
        }
    }
}

section.blogHome{
    padding: 50px 0;
    .container{
        display: flex;
        justify-content: space-between;
        .title{
            max-width: 722px;
            span{
                font-family: var(--fuente-Montserrat);
                font-weight: 800;
                font-size: 25px;
                color: var(--color-rojo);
            }
            h2{
                color: var(--color-azul);
                font-family: var(--fuente-Montserrat);
                font-weight: 800;
                font-size: 35px;
            }
        }
        .flechas{
            position: relative;
            .swiper-button-next{
                right: 0;
                left: initial;
                width: 25px;
            }
            .swiper-button-prev{
                right: 50px;
                left: initial;
                width: 25px;
            }
            .swiper-button-next:after{
                content: '';
                background-image: url(../img/flecha-next.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                width: 100%;
                height: 25px;
            }
            .swiper-button-prev:after{
                content: '';
                background-image: url(../img/flecha-prev.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                width: 100%;
                height: 25px;
            }
        }
    }
    .swiperBlogHome{
        margin-top: 50px;
        .item{
            position: relative;
            //width: 540px;
            .filtro{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 10px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                z-index: 1;
            }
            img.fondo{
                width: 100%;
                border-radius: 10px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .info{                
                padding: 50px 30px;
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                z-index: 2;
                img{
                    width: 50px;
                }
                span{
                    font-family: var(--fuente-Lato);
                    font-weight: 400;
                    font-size: 20px;
                }
                h3{
                    font-family: var(--fuente-Montserrat);
                    font-weight: 800;
                    font-size: 25px;
                    margin: 15px 0;
                }
            }
        }
        .swiper-wrapper .item:first-child {
            margin-left: 220px;
        }
    }
    .buttonEnlace{
        margin-top: 100px;
    }
}

footer{
    background-color: var(--color-azul);
    color: #fff;
    overflow: hidden;
    .part1{
        padding: 130px 0;
        span{
            font-family: var(--fuente-Montserrat);
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
        }
    }
}